

.position {
    position: absolute ; 
    width: 90%; 
    height:100%; 
    left: 5%;
    right: 10%;
  
    background-position: center; 
    /* transition: background-image 1s ease-in-out; */
    
}


.slider{
    background-size: cover;
    background-position: center; 
    height: 90%;
    width: 80%;
    /* animation: animate 10s infinite ; */
}




  @media screen and (min-width: 671px) {

    .slider {
    width: 100%; 
    height: 100%; 
    background-position: center; 
    }
} 
 

/* Dispositivos móviles */
@media screen and (max-width: 670px) {
    .slider {
        width: 100%;
        height: 300px;
        margin-top: 50%;
        background-position: center; 
        background-size: cover; 

    }
    .position {
        position: relative;
    }
}

